.idea/
backend/__init__.pyc
backend/commands.pyc
backend/config.pyc
backend/migrations/env.pyc
backend/migrations/versions/025ffa81b1bb_.pyc
backend/models.pyc
backend/views.pyc
backend/config.py
backend/.cache-dmelloroyston42
backend/spotipy_helper.pyc
backend/token.pkl
backend/__init__.py
backend/test.py